node_modules
**/node_modules
.pnpm-store
.pnpm

apps/backend/dist
apps/frontend/build
apps/frontend/.react-router
coverage
**/coverage

*.log
npm-debug.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
.vscode
.idea

.git
.gitignore

.env
.env.local
.env.*.local

playwright-report
test-results

docs
